:root{
  --coca:#fd4d3a;
}

* {
    box-sizing: border-box;
  }

  html {
    font:
      1.2em/1.4 Arial,
      Helvetica,
      sans-serif;
  }

  body {
    padding: 0 0 1em;
    display: flex;
  }

  header {
    background-color: var(--coca);
    color: #fff;
    border: 1px solid rgb(0, 0, 0);
  }

  header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
header ul li{
  box-shadow: inset 2px -5px 7px 3px rgba(255, 179, 0, 0.4),
  -2px 5px 7px 3px rgba(176, 0, 0, 0.3)
}
  header a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    border-top: 1px solid rgba(187, 0, 0, 0.855);
   
  }

  header .title {
    background-image: url(/images/banner-logo-responsive.jpg);
    width: 43px;
    height: 43px;
    text-indent: -99999px;
    background-position: -50px -257px;
    
  }

  main {
    padding: 0 1em;
  }
  main h1{
    font-size: 2em;
    color: var(--coca);
}   
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .cards li {
    border: 0px solid #000;
    margin: 1em;
  }

  .cards h2 {
    background-color: var(--coca);
    color: #fff;
    margin: 0;
    padding: 0.5em 1em;
    
  }

  .cards .inner {
    padding: 0.5em 1em;
    width: 500px;
    
  }

  .sidebar {
    background-color: #333;
    border: 5px solid #000;
    padding: 0.5em 1em;
    color: #fff;
  }

  @media screen and (min-width:431px){
    header .title{
    width: 100px;
    height: 40px;
    background-position: -30px -200px;
    }
    .cards .inner {
      width: 300px;
    }
  }
  @media screen and (min-width:1025px){
    header .title{
      width: 130px;
      height: 70px;
      background-position: -22px -115px;
     
  }

  }
  @media screen and (min-width:1201px){
    header .title{
      width: 165px;
      height: 75px;
      background-position: -3px -18px;
      }
      .cards .inner {

        width: 500px;
        
      }
  }